<!-- Header -->
        <header>
                <section class="header">
                <section class="container">
                        <section class="header-top">
                                <section class="header-rrss col-xs-12 col-md-6">
                                        <a href="https://facebook.com" target="_blank" title="Facebook"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                                        <a href="https://instagram.com" target="_blank" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                        <a href="https://youtube.com" target="_blank" title="You Tube"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                                </section>
                                <section class="header-bar col-xs-12 col-md-6 nopadding">
                                        <article class="col-xs-6 col-md-4 header-login nopadding">
                                                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                                                <a href="log-in.html" data-toggle="dropdown" class="dropdown-toggle">LOG IN</a>
                                                        <ul class="dropdown-menu">
                                                                <li><a href="#">Editar Ruta</a>
                                                                </li>
                                                                <li><a href="perfil.html">Mi perfil</a>
                                                                </li>
                                                        </ul>
                                                <span>|</span>
                                                <a href="registro.html">REGISTRO</a>
                                        </article>
                                        <article class="col-xs-6 col-md-4 header-leng">
                                                <i class="fa fa-globe" aria-hidden="true"></i>
                                                <a href="#">EN</a>
                                                <span>|</span>
                                                <a href="#" class="active">ES</a>
                                                <span>|</span>
                                                <a href="#">DE</a>
                                        </article>
                                        <article class="col-xs-6 col-md-4 header-search nopadding">
                                                <div id="custom-search-input">
                                                        <div class="input-group col-md-12">
                                                                <input type="text" class="  search-query form-control" placeholder="Buscar" />
                                                                <span class="input-group-btn">
                                                                        <button class="btn btn-danger" type="button">
                                                                                <i class="fa fa-search" aria-hidden="true"></i>
                                                                        </button>
                                                                </span>
                                                        </div>
                                                </div>
                                        </article>
                                </section>
                        </section>
                        <section class="header-nav">
                                <article class="header-logo">
                                        <a href="index.html"><img src="assets/img/logo.png"></a>
                                </article>
                                <nav  class="navbar navbar-inverse">
                                     <div class="container-fluid">
                                                <div class="navbar-header">
                                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                                                                <span class="icon-bar"></span>
                                                                <span class="icon-bar"></span>
                                                                <span class="icon-bar"></span>
                                                    </button>
                                                </div>
                                                <div class="collapse navbar-collapse nopadding" id="myNavbar">
                                                        <ul class="nav navbar-nav">
                                                                <li class="active"><a href="index.html">Inicio</a></li>
                                                                <li><a href="listado-rutas.html">rutas</a></li>
                                                                <li class="dropdown">
                                                                        <a data-toggle="dropdown" class="dropdown-toggle" href="#">Establecimientos </a>
                                                                        <ul class="dropdown-menu">
                                                                                <li>
                                                                                        <a href="establecimiento-ocio.html">categorías de ocio <i class="icon-arrow-right"></i></a>
                                                                                </li>
                                                                                <li>
                                                                                        <a href="establecimiento-salud.html">categorías de salud<i class="icon-arrow-right"></i></a>
                                                                                </li>
                                                                        </ul>
                                                                </li>
                                                                <li><a href="sobre-mallorca.html">sobre mallorca</a></li>
                                                                <li><a href="contacto.html">contacto</a></li>
                                                        </ul>
                                             </div>
                                        </div>
                                </nav>
                                <article id="header-weather" class="header-weather">
                                        <article id="weather">
                                                <span id="city" class="span-bold"></span>
                                                <span id="temperature" class="span-bold-2"></span>
                                                <span id="clouds" class=""></span>
                                        </article>
                                        <!-- img id="image" src="assets/img/Weather/Weather_partly_cloudy.png" -->
                                </article>
                        </section>
                </section>
                </section>
        </header>
        <!-- End Header -->

		<main>
		  <router-outlet></router-outlet>
		</main>

        <!-- footer -->
       <footer>
               <section class="container">
                       <section class="hidden-xs col-md-3">
                               <img src="assets/img/footer-logo.png">
                               <h6>Descarga en:</h6>
                               <a href="#"><img src="assets/img/google-play.png"></a>
                               <a href="#"><img src="assets/img/app-store.png"></a>
                       </section>
                       <section class="hidden-xs col-md-2">
                               <h6>menu principal:</h6>
                               <ul>
                                       <li><a href="#">Inicio</a></li>
                                       <li><a href="#">Rutas</a></li>
                                       <li><a href="#">Establecimientos</a></li>
                                       <li><a href="#">Sobre Mallorca</a></li>
                                       <li><a href="#">Contacto</a></li>
                               </ul>
                       </section>
                       <section class="hidden-xs col-md-2">
                               <h6>Corporativo:</h6>
                               <ul>
                                       <li><a href="#">Quienes somos</a></li>
                                       <li><a href="#">Colaboradores</a></li>
                                       <li><a href="#">Establecimientos</a></li>
                                       <li><a href="#">Contactas</a></li>
                               </ul>
                       </section>
                       <section class="hidden-xs col-md-2">
                               <h6>menu usuario:</h6>
                               <ul>
                                       <li><a href="#">Registro</a></li>
                                       <li><a href="#">Mi Perfil</a></li>
                                       <li><a href="#">Rutas</a></li>
                                       <li><a href="#">Comentarios</a></li>
                                       <li><a href="#">Valoraciones</a></li>
                               </ul>
                       </section>
                       <section class="hidden-xs col-md-3">
                               <a href="#"><img src="assets/img/footer-img.jpg" class="img-responsive"></a>
                       </section>
               </section>
               <section class="footer-copy">
                       <section class="container">                <article class="col-xs-12 col-md-12">
                               <a href="https://facebook.com" target="_blank" title="Facebook"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                                       <a href="https://instagram.com" target="_blank" title="Instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                       <a href="https://youtube.com" target="_blank" title="You Tube"><i class="fa fa-youtube" aria-hidden="true"></i></a>
                                       <p> © Copyright 2017   Eat & Check  -  Todos los derechos reservados </p>
                       </article>
                       </section>
               </section>
       </footer>
       <!-- End Footer -->

        <!--
<nav>
  <a [routerLink]=" ['./'] "
    routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
    Index
  </a>
  <a [routerLink]=" ['./home'] "
    routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
    Home
  </a>
  <a [routerLink]=" ['./detail'] "
    routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
    Detail
  </a>
  <a [routerLink]=" ['./barrel'] "
    routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
    Barrel
  </a>
  <a [routerLink]=" ['./about'] "
    routerLinkActive="active" [routerLinkActiveOptions]= "{exact: true}">
    About
  </a>
</nav>

<main>
  <router-outlet></router-outlet>
</main>

<pre class="app-state">this.appState.state = {{ appState.state | json }}</pre>

<footer>
  <span>WebPack Angular 2 Starter by <a [href]="url">@AngularClass</a></span>
  <div>
    <a [href]="url">
      <img [src]="angularclassLogo" width="25%">
    </a>
  </div>
</footer>
-->
